
@font-face {
    font-family: 'OpenSans-Extrabold';
    src: url('../fonts/OpenSans-Extrabold.woff2') format('woff2'),
        url('../fonts/OpenSans-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-CondensedLight';
    src: url('../fonts/OpenSans-CondensedLight.woff2') format('woff2'),
        url('../fonts/OpenSans-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraboldItalic';
    src: url('../fonts/OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../fonts/OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-CondensedBold';
    src: url('../fonts/OpenSans-CondensedBold.woff2') format('woff2'),
        url('../fonts/OpenSans-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight-Italic';
    src: url('../fonts/OpenSansLight-Italic.woff2') format('woff2'),
        url('../fonts/OpenSansLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans-CondensedLightItalic';
    src: url('../fonts/OpenSans-CondensedLightItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-CondensedLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Intro Head R UC H1 Base Shade';
    src: url('../fonts/IntroHeadRUC-H1BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-H1BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R G Shade';
    src: url('../fonts/IntroHeadR-GShade.woff2') format('woff2'),
        url('../fonts/IntroHeadR-GShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B H2';
    src: url('../fonts/IntroHeadB-H2.woff2') format('woff2'),
        url('../fonts/IntroHeadB-H2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC G Base Shade';
    src: url('../fonts/IntroHeadBUC-GBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-GBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC L Shade';
    src: url('../fonts/IntroHeadRUC-LShade.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-LShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC G Shade';
    src: url('../fonts/IntroHeadRUC-GShade.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-GShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UCL';
    src: url('../fonts/IntroHeadBUC-L.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B H1';
    src: url('../fonts/IntroHeadB-H1.woff2') format('woff2'),
        url('../fonts/IntroHeadB-H1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC H2 Shade';
    src: url('../fonts/IntroHeadHUC-H2Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-H2Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B Shade';
    src: url('../fonts/IntroHeadB-Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadB-Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head RL';
    src: url('../fonts/IntroHeadR-L.woff2') format('woff2'),
        url('../fonts/IntroHeadR-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC G Base';
    src: url('../fonts/IntroHeadBUC-GBase.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-GBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UCG';
    src: url('../fonts/IntroHeadRUC-G.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-G.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC H1';
    src: url('../fonts/IntroHeadHUC-H1.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-H1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H Base';
    src: url('../fonts/IntroHeadH-Base.woff2') format('woff2'),
        url('../fonts/IntroHeadH-Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC Shade';
    src: url('../fonts/IntroHeadHUC-Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC L Shade';
    src: url('../fonts/IntroHeadHUC-LShade.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-LShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UCL';
    src: url('../fonts/IntroHeadHUC-L.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC H1 Shade';
    src: url('../fonts/IntroHeadBUC-H1Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-H1Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC Base';
    src: url('../fonts/IntroHeadHUC-Base.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC G Base Shade';
    src: url('../fonts/IntroHeadHUC-GBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-GBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H Shade';
    src: url('../fonts/IntroHeadH-Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadH-Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B Base Shade';
    src: url('../fonts/IntroHeadB-BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadB-BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B L Shade';
    src: url('../fonts/IntroHeadB-LShade.woff2') format('woff2'),
        url('../fonts/IntroHeadB-LShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R L Shade';
    src: url('../fonts/IntroHeadR-LShade.woff2') format('woff2'),
        url('../fonts/IntroHeadR-LShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC G Base Shade';
    src: url('../fonts/IntroHeadRUC-GBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-GBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B H2 Base';
    src: url('../fonts/IntroHeadB-H2Base.woff2') format('woff2'),
        url('../fonts/IntroHeadB-H2Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC H1 Base Shade';
    src: url('../fonts/IntroHeadHUC-H1BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-H1BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head RG';
    src: url('../fonts/IntroHeadR-G.woff2') format('woff2'),
        url('../fonts/IntroHeadR-G.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC H2 Base Shade';
    src: url('../fonts/IntroHeadHUC-H2BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-H2BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC H2';
    src: url('../fonts/IntroHeadBUC-H2.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-H2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B H2 Base Shade';
    src: url('../fonts/IntroHeadB-H2BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadB-H2BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R L Base';
    src: url('../fonts/IntroHeadR-LBase.woff2') format('woff2'),
        url('../fonts/IntroHeadR-LBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B H1 Shade';
    src: url('../fonts/IntroHeadB-H1Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadB-H1Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head BL';
    src: url('../fonts/IntroHeadB-L.woff2') format('woff2'),
        url('../fonts/IntroHeadB-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC H2 Shade';
    src: url('../fonts/IntroHeadRUC-H2Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-H2Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head HG';
    src: url('../fonts/IntroHeadH-G.woff2') format('woff2'),
        url('../fonts/IntroHeadH-G.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R L Base Shade';
    src: url('../fonts/IntroHeadR-LBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadR-LBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head BG';
    src: url('../fonts/IntroHeadB-G.woff2') format('woff2'),
        url('../fonts/IntroHeadB-G.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UCG';
    src: url('../fonts/IntroHeadHUC-G.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-G.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B Base';
    src: url('../fonts/IntroHeadB-Base.woff2') format('woff2'),
        url('../fonts/IntroHeadB-Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC Base Shade';
    src: url('../fonts/IntroHeadBUC-BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H L Shade';
    src: url('../fonts/IntroHeadH-LShade.woff2') format('woff2'),
        url('../fonts/IntroHeadH-LShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC Shade';
    src: url('../fonts/IntroHeadBUC-Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC H2 Shade';
    src: url('../fonts/IntroHeadBUC-H2Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-H2Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H H1';
    src: url('../fonts/IntroHeadH-H1.woff2') format('woff2'),
        url('../fonts/IntroHeadH-H1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC H2';
    src: url('../fonts/IntroHeadRUC-H2.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-H2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC H2 Base Shade';
    src: url('../fonts/IntroHeadBUC-H2BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-H2BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H H2 Base';
    src: url('../fonts/IntroHeadH-H2Base.woff2') format('woff2'),
        url('../fonts/IntroHeadH-H2Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC H1 Base';
    src: url('../fonts/IntroHeadBUC-H1Base.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-H1Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC Base';
    src: url('../fonts/IntroHeadBUC-Base.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC H2 Base Shade';
    src: url('../fonts/IntroHeadRUC-H2BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-H2BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head L UC Base';
    src: url('../fonts/IntroHeadLUC-Base.woff2') format('woff2'),
        url('../fonts/IntroHeadLUC-Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UCG';
    src: url('../fonts/IntroHeadBUC-G.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-G.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC G Shade';
    src: url('../fonts/IntroHeadHUC-GShade.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-GShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head L Base';
    src: url('../fonts/IntroHeadL-Base.woff2') format('woff2'),
        url('../fonts/IntroHeadL-Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H H2 Base Shade';
    src: url('../fonts/IntroHeadH-H2BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadH-H2BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H H1 Base';
    src: url('../fonts/IntroHeadH-H1Base.woff2') format('woff2'),
        url('../fonts/IntroHeadH-H1Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R G Base Shade';
    src: url('../fonts/IntroHeadR-GBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadR-GBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H L Base Shade';
    src: url('../fonts/IntroHeadH-LBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadH-LBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC L Base Shade';
    src: url('../fonts/IntroHeadRUC-LBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-LBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC H2 Base';
    src: url('../fonts/IntroHeadRUC-H2Base.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-H2Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroHeadR-Base';
    src: url('../fonts/IntroHeadR-Base.woff2') format('woff2'),
        url('../fonts/IntroHeadR-Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H Base Shade';
    src: url('../fonts/IntroHeadH-BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadH-BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R H2 Shade';
    src: url('../fonts/IntroHeadR-H2Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadR-H2Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R G Base';
    src: url('../fonts/IntroHeadR-GBase.woff2') format('woff2'),
        url('../fonts/IntroHeadR-GBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R H2 Base Shade';
    src: url('../fonts/IntroHeadR-H2BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadR-H2BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R H2';
    src: url('../fonts/IntroHeadR-H2.woff2') format('woff2'),
        url('../fonts/IntroHeadR-H2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC H1';
    src: url('../fonts/IntroHeadRUC-H1.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-H1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC G Shade';
    src: url('../fonts/IntroHeadBUC-GShade.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-GShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC L Base Shade';
    src: url('../fonts/IntroHeadHUC-LBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-LBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B G Base Shade';
    src: url('../fonts/IntroHeadB-GBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadB-GBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC G Base';
    src: url('../fonts/IntroHeadHUC-GBase.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-GBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head HL';
    src: url('../fonts/IntroHeadH-L.woff2') format('woff2'),
        url('../fonts/IntroHeadH-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B H2 Shade';
    src: url('../fonts/IntroHeadB-H2Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadB-H2Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B L Base';
    src: url('../fonts/IntroHeadB-LBase.woff2') format('woff2'),
        url('../fonts/IntroHeadB-LBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R H1 Base';
    src: url('../fonts/IntroHeadR-H1Base.woff2') format('woff2'),
        url('../fonts/IntroHeadR-H1Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC Base Shade';
    src: url('../fonts/IntroHeadHUC-BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC H1';
    src: url('../fonts/IntroHeadBUC-H1.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-H1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC Base';
    src: url('../fonts/IntroHeadRUC-Base.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC H1 Base';
    src: url('../fonts/IntroHeadRUC-H1Base.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-H1Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC L Base';
    src: url('../fonts/IntroHeadRUC-LBase.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-LBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC L Base Shade';
    src: url('../fonts/IntroHeadBUC-LBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-LBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B G Base';
    src: url('../fonts/IntroHeadB-GBase.woff2') format('woff2'),
        url('../fonts/IntroHeadB-GBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC H2 Base';
    src: url('../fonts/IntroHeadBUC-H2Base.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-H2Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H H1 Shade';
    src: url('../fonts/IntroHeadH-H1Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadH-H1Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC H1 Shade';
    src: url('../fonts/IntroHeadRUC-H1Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-H1Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H G Base';
    src: url('../fonts/IntroHeadH-GBase.woff2') format('woff2'),
        url('../fonts/IntroHeadH-GBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B H1 Base Shade';
    src: url('../fonts/IntroHeadB-H1BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadB-H1BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC G Base';
    src: url('../fonts/IntroHeadRUC-GBase.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-GBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC H1 Base';
    src: url('../fonts/IntroHeadHUC-H1Base.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-H1Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H H1 Base Shade';
    src: url('../fonts/IntroHeadH-H1BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadH-H1BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H G Base Shade';
    src: url('../fonts/IntroHeadH-GBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadH-GBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC H1 Base Shade';
    src: url('../fonts/IntroHeadBUC-H1BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-H1BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R H1';
    src: url('../fonts/IntroHeadR-H1.woff2') format('woff2'),
        url('../fonts/IntroHeadR-H1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC L Base';
    src: url('../fonts/IntroHeadBUC-LBase.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-LBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B H1 Base';
    src: url('../fonts/IntroHeadB-H1Base.woff2') format('woff2'),
        url('../fonts/IntroHeadB-H1Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC Base Shade';
    src: url('../fonts/IntroHeadRUC-BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UC Shade';
    src: url('../fonts/IntroHeadRUC-Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R Shade';
    src: url('../fonts/IntroHeadR-Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadR-Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H L Base';
    src: url('../fonts/IntroHeadH-LBase.woff2') format('woff2'),
        url('../fonts/IntroHeadH-LBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R Base Shade';
    src: url('../fonts/IntroHeadR-BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadR-BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC H2 Base';
    src: url('../fonts/IntroHeadHUC-H2Base.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-H2Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H H2';
    src: url('../fonts/IntroHeadH-H2.woff2') format('woff2'),
        url('../fonts/IntroHeadH-H2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H G Shade';
    src: url('../fonts/IntroHeadH-GShade.woff2') format('woff2'),
        url('../fonts/IntroHeadH-GShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC L Base';
    src: url('../fonts/IntroHeadHUC-LBase.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-LBase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R H1 Shade';
    src: url('../fonts/IntroHeadR-H1Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadR-H1Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H H2 Shade';
    src: url('../fonts/IntroHeadH-H2Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadH-H2Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R UCL';
    src: url('../fonts/IntroHeadRUC-L.woff2') format('woff2'),
        url('../fonts/IntroHeadRUC-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC H2';
    src: url('../fonts/IntroHeadHUC-H2.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-H2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B G Shade';
    src: url('../fonts/IntroHeadB-GShade.woff2') format('woff2'),
        url('../fonts/IntroHeadB-GShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R H1 Base Shade';
    src: url('../fonts/IntroHeadR-H1BaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadR-H1BaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H UC H1 Shade';
    src: url('../fonts/IntroHeadHUC-H1Shade.woff2') format('woff2'),
        url('../fonts/IntroHeadHUC-H1Shade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B L Base Shade';
    src: url('../fonts/IntroHeadB-LBaseShade.woff2') format('woff2'),
        url('../fonts/IntroHeadB-LBaseShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head B UC L Shade';
    src: url('../fonts/IntroHeadBUC-LShade.woff2') format('woff2'),
        url('../fonts/IntroHeadBUC-LShade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head R H2 Base';
    src: url('../fonts/IntroHeadR-H2Base.woff2') format('woff2'),
        url('../fonts/IntroHeadR-H2Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

